body {
    padding: 1em;
    font-family: "Inconsolata", monospace;
    font-size: 18pt;
}

.solarized-dark {
    background-color: #002b36;
    color: #657b83;
    text-shadow: 0 0 0;

    --string: #859900;
    --key: #268bd2;
    --visited: #6c71c4;
    --bool: #2aa198;

}

.solarized-light {
    background-color: #fdf6e3;
    color: #839496;
    text-shadow: 0 0 0;

    --key: #268bd2;
    --string: #859900;
    --visited: #6c71c4;
    --boolean: #d33682;
}

/* hacker mode */
.terminal {
    background-color: black;
    color: #00FF00;
    text-shadow: 0 0 5px #00FF00;
}

.theme-preview {
    margin: 0.25em;
    padding: 1em;
    float: right;
}

.theme-previews {
    top: 0;
    right: 0;
}

div.brace-inner,
div.bracket-inner {
    margin-left: 1em;
}

span.brace-open,
span.brace-close,
span.bracket-open,
span.bracket-close {
    font-weight: bold;
}

span.key span.string {
    color: var(--key);
    font-weight: bold;
}

span.string,
span.link a {
    color: var(--string);
}

span.link a:visited {
    color: var(--visited);
}

span.boolean,
span.null {
    color: var(--boolean);
    font-weight: bold;
}