body {
    padding: 1em;
    font-family: "Inconsolata";
    font-size: 18pt;
    background-color:  #002b36;
    color: #657b83;
}

span.brace-open, span.brace-close, span.bracket-open, span.bracket-close {
    font-weight: bold;
}


div.brace-inner, div.bracket-inner {
    margin-left: 1em;
}

span.key span.string {
    color: #268bd2;
    font-weight: bold;
}

span.string{
    color: #859900;
}

span.link a {
    color: #859900;
}

span.link a:visited {
    color: #6c71c4;
}

span.boolean, span.null {
    color: #2aa198;
    font-weight: bold;
}
